/* src/styles/DatePicker.module.css */
.container {
  margin-top: 1rem;
}

.label {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.input {
  padding: 0.5rem;
  border: 1px solid var(--color-gray-200);
  border-radius: var(--border-radius-md);
  font-size: 0.875rem;
}

.input:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px var(--color-primary-light);
}
