/* src/styles/PrioritySelect.module.css */
.container {
  margin-top: 1rem;
}

.label {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.options {
  display: flex;
  gap: 0.5rem;
}

.option {
  padding: 0.25rem 0.75rem;
  border-radius: 100px;
  border: none;
  font-size: 0.75rem;
  font-weight: 500;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.option:hover {
  opacity: 0.8;
}

.selected {
  opacity: 1;
}

.high {
  background-color: var(--color-priority-high);
  color: var(--color-priority-high-text);
}

.medium {
  background-color: var(--color-priority-medium);
  color: var(--color-priority-medium-text);
}

.low {
  background-color: var(--color-priority-low);
  color: var(--color-priority-low-text);
}
